* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}


.box { 
    padding-top: 5%;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.speech {
    padding-bottom: 2rem;
    justify-content: center;
}

.speech button{
    justify-content: center;
    align-items: center;
    margin: auto;
}
ul{
    text-align: center;
}

li {
    list-style:none;
}

.content {
    padding-top: 2rem;
    text-align: center;
}


button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background: #d88771;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background:  white;
    color: #d88771;
}